@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body {
  font-family: Arial, Helvetica, sans-serif;  
} */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; 
  font-style: normal;
  background-color: white;
}
 
h1 {
  font-family: "Poppins", serif;
}

/* globals.css */
/* @layer base {
    body {
        @apply bg-gradient-to-b from-sky-100 to-white;
    }
} */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.f-HelveticaNeue {
  font-family: HelveticaNeue;
}

.f-Nohemi-Black-BF6438cc5874bd2 {
  font-family: Nohemi-Black-BF6438cc5874bd2;
}

.f-Nohemi-Bold-BF6438cc587b5b5 {
  font-family: Nohemi-Bold-BF6438cc587b5b5;
}

.f-Nohemi-ExtraBold-BF6438cc58a4c3c {
  font-family: Nohemi-ExtraBold-BF6438cc58a4c3c;
}

.f-Nohemi-ExtraLight-BF6438cc57e06d5 {
  font-family: Nohemi-ExtraLight-BF6438cc57e06d5;
}

.f-Nohemi-Light-BF6438cc583f70b {
  font-family: Nohemi-Light-BF6438cc583f70b !important;
}

.f-Nohemi-Medium-BF6438cc581a509 {
  font-family: Nohemi-Medium-BF6438cc581a509;
}

.f-Nohemi-Regular-BF6438cc4d0e493 {
  font-family: Nohemi-Regular-BF6438cc4d0e493;
}

.f-Nohemi-SemiBold-BF6438cc588a48a {
  font-family: Nohemi-SemiBold-BF6438cc588a48a !important;
}

.f-Nohemi-Thin-BF6438cc577ef3b {
  font-family: Nohemi-Thin-BF6438cc577ef3b;
}

.f-Nohemi-VF-BF6438cc58ad63d {
  font-family: Nohemi-VF-BF6438cc58ad63d;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/public/font/HelveticaNeue.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Nohemi-Black-BF6438cc5874bd2";
  src: url("/public/font/Nohemi-Black-BF6438cc5874bd2.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi-Bold-BF6438cc587b5b5";
  src: url("/public/font/Nohemi-Bold-BF6438cc587b5b5.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi-ExtraBold-BF6438cc58a4c3c";
  src: url("/public/font/Nohemi-ExtraBold-BF6438cc58a4c3c") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi-ExtraLight-BF6438cc57e06d5";
  src: url("/public/font/Nohemi-ExtraLight-BF6438cc57e06d5.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi-Light-BF6438cc583f70b";
  src: url("/public/font/Nohemi-Light-BF6438cc583f70b.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi-Medium-BF6438cc581a509";
  src: url("/public/font/Nohemi-Medium-BF6438cc581a509.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi-Regular-BF6438cc4d0e493";
  src: url("/public/font/Nohemi-Regular-BF6438cc4d0e493.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi-SemiBold-BF6438cc588a48a";
  src: url("/public/font/Nohemi-SemiBold-BF6438cc588a48a.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi-Thin-BF6438cc577ef3b";
  src: url("/public/font/Nohemi-Thin-BF6438cc577ef3b.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi-VF-BF6438cc58ad63d";
  src: url("/public/font/Nohemi-VF-BF6438cc58ad63d.otf");
  font-weight: 800;
  font-style: normal;
}